[user]
	email = ximenesfel@gmail.com
	name = Felipe Ximenes

[credential]
	helper = "!f() { /root/.vscode-server/bin/a5d1cc28bb5da32ec67e86cc50f84c67cc690321/node /tmp/vscode-remote-containers-b333d7d44dab8ac46eef26c936bc325580de38e8.js $*; }; f"
