[user]
	email = ximenesfel@gmail.com
	name = Felipe Ximenes

[credential]
	helper = "!f() { /root/.vscode-server/bin/ff915844119ce9485abfe8aa9076ec76b5300ddd/node /tmp/vscode-remote-containers-04df399eabebf7c6f3eebed41459363e0775fe4a.js $*; }; f"
